[Unit]
Description=Pico CEC: TV standby on suspend
Before=suspend.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/pico-cec-ctl.py PWR_OFF
ExecStop=/usr/local/bin/pico-cec-ctl.py PWR_ON
TimeoutStartSec=10
TimeoutStopSec=10

[Install]
WantedBy=suspend.target
