[Unit]
Description=Pico CEC: TV standby on suspend
Before=suspend.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/pico-cec-ctl.py PWR_OFF
ExecStartPost=/bin/sleep 2
ExecStop=/bin/sh -c 'sleep 2; /usr/local/bin/pico-cec-ctl.py PWR_ON; sleep 1; /usr/local/bin/pico-cec-ctl.py PWR_ON'
TimeoutStartSec=10
TimeoutStopSec=10

[Install]
WantedBy=suspend.target
